  body {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
        }
        
        .w-blog-post {
            font-size: 14px;
        }
        
        .w-nav .menu-item-language,
        .w-nav-item {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .w-blog-post.format-quote blockquote,
        .w-counter-number,
        .w-pricing-item-price,
        .w-tabs-item-title,
        .ult_price_figure,
        .ult_countdown-amount,
        .ultb3-box .ultb3-title,
        .stats-block .stats-desc .stats-number {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
        }
        
        h1 {
            font-size: 40px;
            letter-spacing: 0px;
        }
        
        h2 {
            font-size: 34px;
            letter-spacing: 0px;
        }
        
        h3 {
            font-size: 28px;
            letter-spacing: 0px;
        }
        
        h4,
        .widgettitle,
        .comment-reply-title,
        .woocommerce #reviews h2,
        .woocommerce .related > h2,
        .woocommerce .upsells > h2,
        .woocommerce .cross-sells > h2 {
            font-size: 24px;
            letter-spacing: 0px;
        }
        
        h5,
        .w-blog:not(.cols_1) .w-blog-list .w-blog-post-title {
            font-size: 20px;
            letter-spacing: 0px;
        }
        
        h6 {
            font-size: 18px;
            letter-spacing: 0px;
        }
        
        @media (max-width: 767px) {
            body {
                font-size: 16px;
                line-height: 28px;
            }
            .w-blog-post {
                font-size: 16px;
            }
            h1 {
                font-size: 30px;
            }
            h2 {
                font-size: 26px;
            }
            h3 {
                font-size: 22px;
            }
            h4,
            .widgettitle,
            .comment-reply-title,
            .woocommerce #reviews h2,
            .woocommerce .related > h2,
            .woocommerce .upsells > h2,
            .woocommerce .cross-sells > h2 {
                font-size: 20px;
            }
            h5 {
                font-size: 18px;
            }
            h6 {
                font-size: 16px;
            }
        }
        
        body,
        .header_hor .l-header.pos_fixed {
            min-width: 1300px;
        }
        
        .l-canvas.type_boxed,
        .l-canvas.type_boxed .l-subheader,
        .l-canvas.type_boxed ~ .l-footer .l-subfooter {
            max-width: 1300px;
        }
        
        .header_hor .l-subheader-h,
        .l-titlebar-h,
        .l-main-h,
        .l-section-h,
        .l-subfooter-h,
        .w-tabs-section-content-h,
        .w-blog-post-body {
            max-width: 1140px;
        }
        
        .l-sidebar {
            width: 25%;
        }
        
        .l-content {
            width: 70%;
        }
        
        @media (max-width: 767px) {
            .g-cols.offset_none,
            .g-cols.offset_none > div {
                display: block;
            }
            .g-cols > div {
                width: 100% !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
                margin-bottom: 30px;
            }
            .l-subfooter.at_top .g-cols > div {
                margin-bottom: 10px;
            }
            .g-cols.offset_none > div,
            .g-cols > div:last-child {
                margin-bottom: 0 !important;
            }
        }
        
        @media (min-width: 901px) {
            .l-subheader.at_top {
                display: none;
            }
            .header_hor .l-subheader.at_top {
                line-height: 40px;
                height: 40px;
            }
            .header_hor .l-header.sticky .l-subheader.at_top {
                line-height: 0px;
                height: 0px;
                overflow: hidden;
            }
            .header_hor .l-subheader.at_middle {
                line-height: 100px;
                height: 100px;
            }
            .header_hor .l-header.sticky .l-subheader.at_middle {
                line-height: 50px;
                height: 50px;
            }
            .l-subheader.at_bottom {
                display: none;
            }
            .header_hor .l-subheader.at_bottom {
                line-height: 50px;
                height: 50px;
            }
            .header_hor .l-header.sticky .l-subheader.at_bottom {
                line-height: 50px;
                height: 50px;
            }
            .header_hor .l-header.pos_fixed ~ .l-titlebar,
            .header_hor .l-canvas.titlebar_none.sidebar_left .l-header.pos_fixed ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_right .l-header.pos_fixed ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_none .l-header.pos_fixed ~ .l-main .l-section:first-child,
            .header_hor .l-header.pos_static.bg_transparent ~ .l-titlebar,
            .header_hor .l-canvas.titlebar_none.sidebar_left .l-header.pos_static.bg_transparent ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_right .l-header.pos_static.bg_transparent ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_none .l-header.pos_static.bg_transparent ~ .l-main .l-section:first-child {
                padding-top: 100px;
            }
            .header_hor .l-header.pos_static.bg_solid + .l-main .l-section.preview_trendy .w-blog-post-preview {
                top: -100px;
            }
            .header_ver {
                padding-left: 300px;
                position: relative;
            }
            .rtl.header_ver {
                padding-left: 0;
                padding-right: 300px;
            }
            .header_ver .l-header,
            .header_ver .l-header .w-cart-notification {
                width: 300px;
            }
            .header_ver .l-navigation-item.to_next {
                left: 100px;
            }
            .no-touch .header_ver .l-navigation-item.to_next:hover {
                left: 300px;
            }
            .rtl.header_ver .l-navigation-item.to_next {
                right: 100px;
            }
            .no-touch .rtl.header_ver .l-navigation-item.to_next:hover {
                right: 300px;
            }
            .header_ver .w-nav.type_desktop [class*="columns"] .w-nav-list.level_2 {
                width: calc(100vw - 300px);
                max-width: 980px;
            }
        }
        
        @media (min-width: 601px) and (max-width: 900px) {
            .l-subheader.at_top {
                display: none;
            }
            .header_hor .l-subheader.at_top {
                line-height: 36px;
                height: 36px;
            }
            .header_hor .l-header.sticky .l-subheader.at_top {
                line-height: 36px;
                height: 36px;
            }
            .header_hor .l-subheader.at_middle {
                line-height: 80px;
                height: 80px;
            }
            .header_hor .l-header.sticky .l-subheader.at_middle {
                line-height: 50px;
                height: 50px;
            }
            .l-subheader.at_bottom {
                display: none;
            }
            .header_hor .l-subheader.at_bottom {
                line-height: 50px;
                height: 50px;
            }
            .header_hor .l-header.sticky .l-subheader.at_bottom {
                line-height: 50px;
                height: 50px;
            }
            .header_hor .l-header.pos_fixed ~ .l-titlebar,
            .header_hor .l-canvas.titlebar_none.sidebar_left .l-header.pos_fixed ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_right .l-header.pos_fixed ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_none .l-header.pos_fixed ~ .l-main .l-section:first-child,
            .header_hor .l-header.pos_static.bg_transparent ~ .l-titlebar,
            .header_hor .l-canvas.titlebar_none.sidebar_left .l-header.pos_static.bg_transparent ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_right .l-header.pos_static.bg_transparent ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_none .l-header.pos_static.bg_transparent ~ .l-main .l-section:first-child {
                padding-top: 80px;
            }
            .header_hor .l-header.pos_static.bg_solid + .l-main .l-section.preview_trendy .w-blog-post-preview {
                top: -80px;
            }
            .header_ver .l-header {
                width: 300px;
            }
        }
        
        @media (max-width: 600px) {
            .l-subheader.at_top {
                display: none;
            }
            .header_hor .l-subheader.at_top {
                line-height: 36px;
                height: 36px;
            }
            .header_hor .l-header.sticky .l-subheader.at_top {
                line-height: 36px;
                height: 36px;
            }
            .header_hor .l-subheader.at_middle {
                line-height: 50px;
                height: 50px;
            }
            .header_hor .l-header.sticky .l-subheader.at_middle {
                line-height: 50px;
                height: 50px;
            }
            .l-subheader.at_bottom {
                display: none;
            }
            .header_hor .l-subheader.at_bottom {
                line-height: 50px;
                height: 50px;
            }
            .header_hor .l-header.sticky .l-subheader.at_bottom {
                line-height: 50px;
                height: 50px;
            }
            .header_hor .l-header.pos_fixed ~ .l-titlebar,
            .header_hor .l-canvas.titlebar_none.sidebar_left .l-header.pos_fixed ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_right .l-header.pos_fixed ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_none .l-header.pos_fixed ~ .l-main .l-section:first-child,
            .header_hor .l-header.pos_static.bg_transparent ~ .l-titlebar,
            .header_hor .l-canvas.titlebar_none.sidebar_left .l-header.pos_static.bg_transparent ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_right .l-header.pos_static.bg_transparent ~ .l-main,
            .header_hor .l-canvas.titlebar_none.sidebar_none .l-header.pos_static.bg_transparent ~ .l-main .l-section:first-child {
                padding-top: 50px;
            }
            .header_hor .l-header.pos_static.bg_solid + .l-main .l-section.preview_trendy .w-blog-post-preview {
                top: -50px;
            }
        }
        
        @media (min-width: 901px) {
            .ush_image_1 {
                height: 80px;
            }
            .ush_image_1.with_transparent img.for_default {
                margin-bottom: -80px;
            }
            .l-header.sticky .ush_image_1 {
                height: 60px;
            }
            .l-header.sticky .ush_image_1.with_transparent img.for_default {
                margin-bottom: -60px;
            }
        }
        
        @media (min-width: 601px) and (max-width: 900px) {
            .ush_image_1 {
                height: 40px;
            }
            .ush_image_1.with_transparent img.for_default {
                margin-bottom: -40px;
            }
            .l-header.sticky .ush_image_1 {
                height: 40px;
            }
            .l-header.sticky .ush_image_1.with_transparent img.for_default {
                margin-bottom: -40px;
            }
        }
        
        @media (max-width: 600px) {
            .ush_image_1 {
                height: 30px;
            }
            .ush_image_1.with_transparent img.for_default {
                margin-bottom: -30px;
            }
            .l-header.sticky .ush_image_1 {
                height: 30px;
            }
            .l-header.sticky .ush_image_1.with_transparent img.for_default {
                margin-bottom: -30px;
            }
        }
        
        .ush_text_1 .w-text-value {
            color: ;
        }
        
        @media (min-width: 901px) {
            .ush_text_1 {
                font-size: 26px;
            }
        }
        
        @media (min-width: 601px) and (max-width: 900px) {
            .ush_text_1 {
                font-size: 24px;
            }
        }
        
        @media (max-width: 600px) {
            .ush_text_1 {
                font-size: 20px;
            }
        }
        
        .ush_text_1 {
            white-space: nowrap;
        }
        
        .ush_text_2 .w-text-value {
            color: ;
        }
        
        @media (min-width: 901px) {
            .ush_text_2 {
                font-size: 13px;
            }
        }
        
        @media (min-width: 601px) and (max-width: 900px) {
            .ush_text_2 {
                font-size: 13px;
            }
        }
        
        @media (max-width: 600px) {
            .ush_text_2 {
                font-size: 13px;
            }
        }
        
        .ush_text_2 {
            white-space: nowrap;
        }
        
        .ush_text_3 .w-text-value {
            color: ;
        }
        
        @media (min-width: 901px) {
            .ush_text_3 {
                font-size: 13px;
            }
        }
        
        @media (min-width: 601px) and (max-width: 900px) {
            .ush_text_3 {
                font-size: 13px;
            }
        }
        
        @media (max-width: 600px) {
            .ush_text_3 {
                font-size: 13px;
            }
        }
        
        .ush_text_3 {
            white-space: nowrap;
        }
        
        .ush_text_4 .w-text-value {
            color: ;
        }
        
        @media (min-width: 901px) {
            .ush_text_4 {
                font-size: 13px;
            }
        }
        
        @media (min-width: 601px) and (max-width: 900px) {
            .ush_text_4 {
                font-size: 13px;
            }
        }
        
        @media (max-width: 600px) {
            .ush_text_4 {
                font-size: 13px;
            }
        }
        
        .ush_text_4 {
            white-space: nowrap;
        }
        
        .header_hor .ush_menu_1.type_desktop .w-nav-list.level_1 > .menu-item > a {
            padding: 0 20px;
        }
        
        .header_ver .ush_menu_1.type_desktop {
            line-height: 40px;
        }
        
        .ush_menu_1.type_desktop .btn.w-nav-item.level_1 > .w-nav-anchor {
            margin: 10px;
        }
        
        .ush_menu_1.type_desktop .w-nav-list.level_1 > .menu-item > a,
        .ush_menu_1.type_desktop [class*="columns"] .menu-item-has-children .w-nav-anchor.level_2 {
            font-size: 16px;
        }
        
        .ush_menu_1.type_desktop .submenu-languages .menu-item-language > a,
        .ush_menu_1.type_desktop .w-nav-anchor:not(.level_1) {
            font-size: 15px;
        }
        
        .ush_menu_1.type_mobile .w-nav-anchor.level_1 {
            font-size: 15px;
        }
        
        .ush_menu_1.type_mobile .menu-item-language > a,
        .ush_menu_1.type_mobile .w-nav-anchor:not(.level_1) {
            font-size: 14px;
        }
        
        @media (min-width: 901px) {
            .ush_search_1.layout_simple {
                max-width: 240px;
            }
            .ush_search_1.layout_modern.active {
                width: 240px;
            }
        }
        
        @media (min-width: 601px) and (max-width: 900px) {
            .ush_search_1.layout_simple {
                max-width: 200px;
            }
            .ush_search_1.layout_modern.active {
                width: 200px;
            }
        }
        
        @media (min-width: 901px) {
            .ush_socials_1 {
                font-size: 18px;
            }
        }
        
        @media (min-width: 601px) and (max-width: 900px) {
            .ush_socials_1 {
                font-size: 18px;
            }
        }
        
        @media (max-width: 600px) {
            .ush_socials_1 {
                font-size: 18px;
            }
        }
        
        .ush_socials_1 .custom .w-socials-item-link-hover {
            background-color: #1abc9c;
        }
        
        .ush_socials_1.style_colored .custom .w-socials-item-link {
            color: #1abc9c;
        }
        
        @media (min-width: 901px) {
            .ush_dropdown_1 .w-dropdown-h {
                font-size: 13px;
            }
        }
        
        @media (min-width: 601px) and (max-width: 900px) {
            .ush_dropdown_1 .w-dropdown-h {
                font-size: 13px;
            }
        }
        
        @media (max-width: 600px) {
            .ush_dropdown_1 .w-dropdown-h {
                font-size: 13px;
            }
        }
        
        @media (min-width: 901px) {
            .ush_cart_1 .w-cart-link {
                font-size: 20px;
            }
        }
        
        @media (min-width: 601px) and (max-width: 900px) {
            .ush_cart_1 .w-cart-link {
                font-size: 20px;
            }
        }
        
        @media (max-width: 600px) {
            .ush_cart_1 .w-cart-link {
                font-size: 20px;
            }
        }
        
        body {
            background-color: #eeeeee;
        }
        
        .l-subheader.at_top,
        .l-subheader.at_top .w-dropdown-list,
        .header_hor .l-subheader.at_top .type_mobile .w-nav-list.level_1 {
            background-color: #f5f5f5;
        }
        
        .l-subheader.at_top,
        .l-subheader.at_top .w-dropdown.active,
        .header_hor .l-subheader.at_top .type_mobile .w-nav-list.level_1 {
            color: #777777;
        }
        
        .no-touch .l-subheader.at_top a:hover,
        .no-touch .l-subheader.at_top .w-cart-quantity,
        .no-touch .l-header.bg_transparent .l-subheader.at_top .w-dropdown.active a:hover {
            color: #1b98e0;
        }
        
        .header_ver .l-header,
        .header_hor .l-subheader.at_middle,
        .l-subheader.at_middle .w-dropdown-list,
        .header_hor .l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
            background-color: #ffffff;
        }
        
        .l-subheader.at_middle,
        .l-subheader.at_middle .w-dropdown.active,
        .header_hor .l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
            color: #666666;
        }
        
        .no-touch .l-subheader.at_middle a:hover,
        .no-touch .l-subheader.at_middle .w-cart-quantity,
        .no-touch .l-header.bg_transparent .l-subheader.at_middle .w-dropdown.active a:hover {
            color: #1b98e0;
        }
        
        .l-subheader.at_bottom,
        .l-subheader.at_bottom .w-dropdown-list,
        .header_hor .l-subheader.at_bottom .type_mobile .w-nav-list.level_1 {
            background-color: #f5f5f5;
        }
        
        .l-subheader.at_bottom,
        .l-subheader.at_bottom .w-dropdown.active,
        .header_hor .l-subheader.at_bottom .type_mobile .w-nav-list.level_1 {
            color: #777777;
        }
        
        .no-touch .l-subheader.at_bottom a:hover,
        .no-touch .l-subheader.at_bottom .w-cart-quantity,
        .no-touch .l-header.bg_transparent .l-subheader.at_bottom .w-dropdown.active a:hover {
            color: #1b98e0;
        }
        
        .l-header.bg_transparent:not(.sticky) .l-subheader {
            color: #ffffff;
        }
        
        .no-touch .l-header.bg_transparent:not(.sticky) a:not(.w-nav-anchor):hover,
        .no-touch .l-header.bg_transparent:not(.sticky) .type_desktop .menu-item-language > a:hover,
        .no-touch .l-header.bg_transparent:not(.sticky) .type_desktop .menu-item-language:hover > a,
        .no-touch .l-header.bg_transparent:not(.sticky) .type_desktop .w-nav-item.level_1:hover > .w-nav-anchor {
            color: #ffffff;
        }
        
        .l-header.bg_transparent:not(.sticky) .w-nav-title:after {
            background-color: #ffffff;
        }
        
        .w-search-form {
            background-color: #ffffff;
            color: #1b98e0;
        }
        
        .w-search.layout_fullscreen .w-search-form:before {
            background-color: #ffffff;
        }
        
        .no-touch .w-nav.type_desktop .menu-item-language:hover > a,
        .no-touch .w-nav-item.level_1:hover > .w-nav-anchor {
            background-color: #1b98e0;
            color: #ffffff;
        }
        
        .w-nav-title:after {
            background-color: #ffffff;
        }
        
        .w-nav-item.level_1.current-menu-item > .w-nav-anchor,
        .w-nav-item.level_1.current-menu-ancestor > .w-nav-anchor {
            background-color: ;
            color: #1b98e0;
        }
        
        .l-header.bg_transparent:not(.sticky) .type_desktop .w-nav-item.level_1.current-menu-item > .w-nav-anchor,
        .l-header.bg_transparent:not(.sticky) .type_desktop .w-nav-item.level_1.current-menu-ancestor > .w-nav-anchor {
            color: #42baff;
        }
        
        .w-nav.type_desktop .submenu-languages,
        .w-nav-list:not(.level_1) {
            background-color: #1b98e0;
            color: #ffffff;
        }
        
        .no-touch .w-nav.type_desktop .submenu-languages .menu-item-language:hover > a,
        .no-touch .w-nav-item:not(.level_1):hover > .w-nav-anchor {
            background-color: #ffffff;
            color: #1b98e0;
        }
        
        .w-nav-item:not(.level_1).current-menu-item > .w-nav-anchor,
        .w-nav-item:not(.level_1).current-menu-ancestor > .w-nav-anchor {
            background-color: #1487ca;
            color: #ffffff;
        }
        
        .btn.w-menu-item,
        .btn.w-nav-item .w-nav-anchor.level_1 {
            background-color: #1b98e0 !important;
            color: #ffffff !important;
        }
        
        .no-touch .btn.w-menu-item:hover,
        .no-touch .btn.w-nav-item .w-nav-anchor.level_1:before {
            background-color: #1487ca !important;
        }
        
        .no-touch .btn.w-menu-item:hover,
        .no-touch .btn.w-nav-item .w-nav-anchor.level_1:hover {
            color: #ffffff !important;
        }
        
        .l-preloader,
        .l-canvas,
        .w-blog.layout_masonry .w-blog-post-h,
        .w-blog.layout_cards .w-blog-post-h,
        .w-cart-dropdown,
        .g-filters.style_1 .g-filters-item.active,
        .no-touch .g-filters-item.active:hover,
        .w-tabs.layout_default .w-tabs-item.active,
        .w-tabs.layout_ver .w-tabs-item.active,
        .no-touch .w-tabs.layout_default .w-tabs-item.active:hover,
        .no-touch .w-tabs.layout_ver .w-tabs-item.active:hover,
        .w-tabs.layout_timeline .w-tabs-item,
        .w-tabs.layout_timeline .w-tabs-section-header-h,
        .no-touch #lang_sel ul ul a:hover,
        .no-touch #lang_sel_click ul ul a:hover,
        #lang_sel_footer,
        .woocommerce-tabs .tabs li.active,
        .no-touch .woocommerce-tabs .tabs li.active:hover,
        .woocommerce .stars span:after,
        .woocommerce .stars span a:after,
        .woocommerce #payment .payment_box input[type="text"],
        #bbp-user-navigation li.current,
        .gform_wrapper .chosen-container-single .chosen-search input[type="text"],
        .gform_wrapper .chosen-container-multi .chosen-choices li.search-choice {
            background-color: #ffffff;
        }
        
        .woocommerce .blockUI.blockOverlay {
            background-color: #ffffff !important;
        }
        
        .w-tabs.layout_modern .w-tabs-item:after {
            border-bottom-color: #ffffff;
        }
        
        a.w-btn.color_contrast,
        .w-btn.color_contrast,
        .no-touch a.w-btn.color_contrast:hover,
        .no-touch .w-btn.color_contrast:hover,
        .no-touch a.w-btn.color_contrast.style_outlined:hover,
        .no-touch .w-btn.color_contrast.style_outlined:hover,
        .w-iconbox.style_circle.color_contrast .w-iconbox-icon {
            color: #ffffff;
        }
        
        input,
        textarea,
        select,
        .l-section.for_blogpost .w-blog-post-preview,
        .w-actionbox.color_light,
        .g-filters.style_1,
        .g-filters.style_2 .g-filters-item.active,
        .w-iconbox.style_circle.color_light .w-iconbox-icon,
        .g-loadmore-btn,
        .w-pricing-item-header,
        .w-progbar-bar,
        .w-progbar.style_3 .w-progbar-bar:before,
        .w-progbar.style_3 .w-progbar-bar-count,
        .w-tabs.layout_default .w-tabs-list,
        .w-tabs.layout_ver .w-tabs-list,
        .w-testimonial.style_4:before,
        .no-touch .l-main .widget_nav_menu a:hover,
        .l-content .wp-caption-text,
        #lang_sel a,
        #lang_sel_click a,
        .smile-icon-timeline-wrap .timeline-wrapper .timeline-block,
        .smile-icon-timeline-wrap .timeline-feature-item.feat-item,
        .woocommerce .quantity .plus,
        .woocommerce .quantity .minus,
        .select2-container a.select2-choice,
        .select2-drop .select2-search input,
        .woocommerce-tabs .tabs,
        .woocommerce #payment .payment_box,
        #subscription-toggle,
        #favorite-toggle,
        #bbp-user-navigation,
        .tablepress .row-hover tr:hover td,
        .gform_wrapper .chosen-container-single .chosen-single,
        .gform_wrapper .chosen-container .chosen-drop,
        .gform_wrapper .chosen-container-multi .chosen-choices {
            background-color: #f2f2f2;
        }
        
        .timeline-wrapper .timeline-post-right .ult-timeline-arrow l,
        .timeline-wrapper .timeline-post-left .ult-timeline-arrow l,
        .timeline-feature-item.feat-item .ult-timeline-arrow l,
        .woocommerce #payment .payment_box:after {
            border-color: #f2f2f2;
        }
        
        hr,
        td,
        th,
        .l-section,
        .g-cols > div,
        .w-author,
        .w-comments-list,
        .w-pricing-item-h,
        .w-profile,
        .w-separator,
        .w-sharing-item,
        .w-tabs-list,
        .w-tabs-section,
        .w-tabs-section-header:before,
        .w-tabs.layout_timeline.accordion .w-tabs-section-content,
        .g-tags > a,
        .w-testimonial.style_1,
        .widget_calendar #calendar_wrap,
        .l-main .widget_nav_menu > div,
        .l-main .widget_nav_menu .menu-item a,
        .widget_nav_menu .menu-item.menu-item-has-children + .menu-item > a,
        .select2-container a.select2-choice,
        .smile-icon-timeline-wrap .timeline-line,
        .woocommerce .login,
        .woocommerce .checkout_coupon,
        .woocommerce .register,
        .woocommerce .cart.variations_form,
        .woocommerce .cart .group_table,
        .woocommerce .commentlist .comment-text,
        .woocommerce .comment-respond,
        .woocommerce .related,
        .woocommerce .upsells,
        .woocommerce .cross-sells,
        .woocommerce .checkout #order_review,
        .woocommerce ul.order_details li,
        .woocommerce .shop_table.my_account_orders,
        .widget_price_filter .ui-slider-handle,
        .widget_layered_nav ul,
        .widget_layered_nav ul li,
        #bbpress-forums fieldset,
        .bbp-login-form fieldset,
        #bbpress-forums .bbp-body > ul,
        #bbpress-forums li.bbp-header,
        .bbp-replies .bbp-body,
        div.bbp-forum-header,
        div.bbp-topic-header,
        div.bbp-reply-header,
        .bbp-pagination-links a,
        .bbp-pagination-links span.current,
        span.bbp-topic-pagination a.page-numbers,
        .bbp-logged-in,
        .gform_wrapper .gsection,
        .gform_wrapper .gf_page_steps,
        .gform_wrapper li.gfield_creditcard_warning,
        .form_saved_message {
            border-color: #e8e8e8;
        }
        
        .w-separator,
        .w-iconbox.color_light .w-iconbox-icon,
        .w-testimonial.style_3 .w-testimonial-text:after,
        .w-testimonial.style_3 .w-testimonial-text:before {
            color: #e8e8e8;
        }
        
        a.w-btn.color_light,
        .w-btn.color_light,
        .w-btn.color_light.style_outlined:before,
        .w-btn.w-blog-post-more:before,
        .w-iconbox.style_circle.color_light .w-iconbox-icon,
        .no-touch .g-loadmore-btn:hover,
        .woocommerce .button,
        .no-touch .woocommerce .quantity .plus:hover,
        .no-touch .woocommerce .quantity .minus:hover,
        .widget_price_filter .ui-slider,
        .gform_wrapper .gform_page_footer .gform_previous_button {
            background-color: #e8e8e8;
        }
        
        a.w-btn.color_light.style_outlined,
        .w-btn.color_light.style_outlined,
        .w-btn.w-blog-post-more,
        .w-iconbox.style_outlined.color_light .w-iconbox-icon,
        .w-person-links-item,
        .w-socials-item-link,
        .pagination .page-numbers {
            box-shadow: 0 0 0 2px #e8e8e8 inset;
        }
        
        .w-tabs.layout_trendy .w-tabs-list {
            box-shadow: 0 -1px 0 #e8e8e8 inset;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .w-counter-number,
        .w-pricing-item-header,
        .w-progbar.color_custom .w-progbar-title,
        .woocommerce .products .product .price,
        .gform_wrapper .chosen-container-single .chosen-single {
            color: #555555;
        }
        
        .w-progbar.color_contrast .w-progbar-bar-h {
            background-color: #555555;
        }
        
        input,
        textarea,
        select,
        .l-canvas,
        a.w-btn.color_contrast.style_outlined,
        .w-btn.color_contrast.style_outlined,
        .w-cart-dropdown,
        .w-form-row-field:before,
        .w-iconbox.color_contrast .w-iconbox-icon,
        .w-iconbox.color_light.style_circle .w-iconbox-icon,
        .w-tabs.layout_timeline .w-tabs-item,
        .w-tabs.layout_timeline .w-tabs-section-header-h,
        .woocommerce .button {
            color: #666666;
        }
        
        a.w-btn.color_light,
        .w-btn.color_light,
        .w-btn.w-blog-post-more {
            color: #666666 !important;
        }
        
        a.w-btn.color_contrast,
        .w-btn.color_contrast,
        .w-btn.color_contrast.style_outlined:before,
        .w-iconbox.style_circle.color_contrast .w-iconbox-icon {
            background-color: #666666;
        }
        
        a.w-btn.color_contrast.style_outlined,
        .w-btn.color_contrast.style_outlined,
        .w-iconbox.style_outlined.color_contrast .w-iconbox-icon {
            box-shadow: 0 0 0 2px #666666 inset;
        }
        
        a,
        .highlight_primary,
        .l-preloader,
        .no-touch .l-titlebar .g-nav-item:hover,
        a.w-btn.color_primary.style_outlined,
        .w-btn.color_primary.style_outlined,
        .l-main .w-contacts-item:before,
        .w-counter.color_primary .w-counter-number,
        .g-filters-item.active,
        .no-touch .g-filters.style_1 .g-filters-item.active:hover,
        .no-touch .g-filters.style_2 .g-filters-item.active:hover,
        .w-form-row.focused .w-form-row-field:before,
        .w-iconbox.color_primary .w-iconbox-icon,
        .no-touch .w-iconbox-link:hover .w-iconbox-title,
        .no-touch .w-logos .owl-prev:hover,
        .no-touch .w-logos .owl-next:hover,
        .w-separator.color_primary,
        .w-sharing.type_outlined.color_primary .w-sharing-item,
        .no-touch .w-sharing.type_simple.color_primary .w-sharing-item:hover .w-sharing-icon,
        .w-tabs.layout_default .w-tabs-item.active,
        .w-tabs.layout_trendy .w-tabs-item.active,
        .w-tabs.layout_ver .w-tabs-item.active,
        .w-tabs-section.active .w-tabs-section-header,
        .no-touch .g-tags > a:hover,
        .w-testimonial.style_2:before,
        .woocommerce .products .product .button,
        .woocommerce .star-rating span:before,
        .woocommerce-tabs .tabs li.active,
        .no-touch .woocommerce-tabs .tabs li.active:hover,
        .woocommerce .stars span a:after,
        #subscription-toggle span.is-subscribed:before,
        #favorite-toggle span.is-favorite:before {
            color: #1b98e0;
        }
        
        .l-section.color_primary,
        .l-titlebar.color_primary,
        .no-touch .l-navigation-item:hover .l-navigation-item-arrow,
        .highlight_primary_bg,
        .w-actionbox.color_primary,
        .w-blog-post-preview-icon,
        .w-blog.layout_cards .format-quote .w-blog-post-h,
        button,
        input[type="submit"],
        a.w-btn.color_primary,
        .w-btn.color_primary,
        .w-btn.color_primary.style_outlined:before,
        .no-touch .g-filters-item:hover,
        .w-iconbox.style_circle.color_primary .w-iconbox-icon,
        .no-touch .w-iconbox.style_circle .w-iconbox-icon:before,
        .no-touch .w-iconbox.style_outlined .w-iconbox-icon:before,
        .no-touch .w-person.layout_toplinks .w-person-links,
        .w-pricing-item.type_featured .w-pricing-item-header,
        .w-progbar.color_primary .w-progbar-bar-h,
        .w-sharing.type_solid.color_primary .w-sharing-item,
        .w-sharing.type_fixed.color_primary .w-sharing-item,
        .w-sharing.type_outlined.color_primary .w-sharing-item:before,
        .w-tabs.layout_modern .w-tabs-list,
        .w-tabs.layout_trendy .w-tabs-item:after,
        .w-tabs.layout_timeline .w-tabs-item:before,
        .w-tabs.layout_timeline .w-tabs-section-header-h:before,
        .no-touch .w-header-show:hover,
        .no-touch .w-toplink.active:hover,
        .no-touch .pagination .page-numbers:before,
        .pagination .page-numbers.current,
        .l-main .widget_nav_menu .menu-item.current-menu-item > a,
        .rsDefault .rsThumb.rsNavSelected,
        .no-touch .tp-leftarrow.tparrows.custom:before,
        .no-touch .tp-rightarrow.tparrows.custom:before,
        .smile-icon-timeline-wrap .timeline-separator-text .sep-text,
        .smile-icon-timeline-wrap .timeline-wrapper .timeline-dot,
        .smile-icon-timeline-wrap .timeline-feature-item .timeline-dot,
        .tablepress .sorting:hover,
        .tablepress .sorting_asc,
        .tablepress .sorting_desc,
        p.demo_store,
        .woocommerce .button.alt,
        .woocommerce .button.checkout,
        .no-touch .woocommerce .products .product .button:hover,
        .woocommerce .products .product .button.loading,
        .woocommerce .onsale,
        .widget_price_filter .ui-slider-range,
        .widget_layered_nav ul li.chosen,
        .widget_layered_nav_filters ul li a,
        .no-touch .bbp-pagination-links a:hover,
        .bbp-pagination-links span.current,
        .no-touch span.bbp-topic-pagination a.page-numbers:hover,
        .gform_wrapper .gform_page_footer .gform_next_button,
        .gform_wrapper .gf_progressbar_percentage,
        .gform_wrapper .chosen-container .chosen-results li.highlighted {
            background-color: #1b98e0;
        }
        
        .l-content blockquote,
        .no-touch .l-titlebar .g-nav-item:hover,
        .g-filters.style_3 .g-filters-item.active,
        .no-touch .w-logos .owl-prev:hover,
        .no-touch .w-logos .owl-next:hover,
        .no-touch .w-logos.style_1 .w-logos-item:hover,
        .w-separator.color_primary,
        .w-tabs.layout_default .w-tabs-item.active,
        .w-tabs.layout_ver .w-tabs-item.active,
        .no-touch .g-tags > a:hover,
        .no-touch .w-testimonial.style_1:hover,
        .l-main .widget_nav_menu .menu-item.current-menu-item > a,
        .woocommerce-tabs .tabs li.active,
        .no-touch .woocommerce-tabs .tabs li.active:hover,
        .widget_layered_nav ul li.chosen,
        .bbp-pagination-links span.current,
        .no-touch #bbpress-forums .bbp-pagination-links a:hover,
        .no-touch #bbpress-forums .bbp-topic-pagination a:hover,
        #bbp-user-navigation li.current {
            border-color: #1b98e0;
        }
        
        a.w-btn.color_primary.style_outlined,
        .w-btn.color_primary.style_outlined,
        .l-main .w-contacts-item:before,
        .w-iconbox.color_primary.style_outlined .w-iconbox-icon,
        .w-sharing.type_outlined.color_primary .w-sharing-item,
        .w-tabs.layout_timeline .w-tabs-item,
        .w-tabs.layout_timeline .w-tabs-section-header-h,
        .woocommerce .products .product .button {
            box-shadow: 0 0 0 2px #1b98e0 inset;
        }
        
        input:focus,
        textarea:focus,
        select:focus {
            box-shadow: 0 0 0 2px #1b98e0;
        }
        
        .no-touch a:hover,
        .highlight_secondary,
        .no-touch .l-subheader .w-cart-dropdown a:hover,
        .no-touch a:hover + .w-blog-post-body .w-blog-post-title a,
        .no-touch .w-blog-post-title a:hover,
        .no-touch .w-blognav-prev:hover .w-blognav-title,
        .no-touch .w-blognav-next:hover .w-blognav-title,
        a.w-btn.color_secondary.style_outlined,
        .w-btn.color_secondary.style_outlined,
        .w-counter.color_secondary .w-counter-number,
        .w-iconbox.color_secondary .w-iconbox-icon,
        .w-separator.color_secondary,
        .w-sharing.type_outlined.color_secondary .w-sharing-item,
        .no-touch .w-sharing.type_simple.color_secondary .w-sharing-item:hover .w-sharing-icon,
        .no-touch .l-main .widget_tag_cloud a:hover,
        .no-touch .l-main .widget_product_tag_cloud .tagcloud a:hover,
        .no-touch .bbp_widget_login a.button.logout-link:hover {
            color: #447490;
        }
        
        .l-section.color_secondary,
        .l-titlebar.color_secondary,
        .highlight_secondary_bg,
        .no-touch .w-blog.layout_cards .w-blog-post-meta-category a:hover,
        .no-touch .w-blog.layout_tiles .w-blog-post-meta-category a:hover,
        .no-touch .l-section.preview_trendy .w-blog-post-meta-category a:hover,
        .no-touch input[type="submit"]:hover,
        a.w-btn.color_secondary,
        .w-btn.color_secondary,
        .w-btn.color_secondary.style_outlined:before,
        .w-actionbox.color_secondary,
        .w-iconbox.style_circle.color_secondary .w-iconbox-icon,
        .w-progbar.color_secondary .w-progbar-bar-h,
        .w-sharing.type_solid.color_secondary .w-sharing-item,
        .w-sharing.type_fixed.color_secondary .w-sharing-item,
        .w-sharing.type_outlined.color_secondary .w-sharing-item:before,
        .no-touch .woocommerce input[type="submit"]:hover,
        .no-touch .woocommerce .button:not([disabled]):hover,
        .no-touch .woocommerce .button.alt:not([disabled]):hover,
        .no-touch .woocommerce .button.checkout:hover,
        .no-touch .woocommerce .product-remove a.remove:hover,
        .no-touch .widget_layered_nav_filters ul li a:hover {
            background-color: #447490;
        }
        
        .w-separator.color_secondary {
            border-color: #447490;
        }
        
        a.w-btn.color_secondary.style_outlined,
        .w-btn.color_secondary.style_outlined,
        .w-iconbox.color_secondary.style_outlined .w-iconbox-icon,
        .w-sharing.type_outlined.color_secondary .w-sharing-item {
            box-shadow: 0 0 0 2px #447490 inset;
        }
        
        .highlight_faded,
        .w-blog-post-meta > *,
        .w-profile-link.for_logout,
        .w-testimonial-person-meta,
        .w-testimonial.style_4:before,
        .l-main .widget_tag_cloud a,
        .l-main .widget_product_tag_cloud .tagcloud a,
        .woocommerce-breadcrumb,
        .woocommerce .star-rating:before,
        .woocommerce .stars span:after,
        .woocommerce .product-remove a.remove,
        p.bbp-topic-meta,
        .bbp_widget_login a.button.logout-link {
            color: #999999;
        }
        
        .w-blog.layout_latest .w-blog-post-meta-date {
            border-color: #999999;
        }
        
        .l-section.color_alternate,
        .l-titlebar.color_alternate,
        .color_alternate .g-filters.style_1 .g-filters-item.active,
        .no-touch .color_alternate .g-filters-item.active:hover,
        .color_alternate .w-tabs.layout_default .w-tabs-item.active,
        .no-touch .color_alternate .w-tabs.layout_default .w-tabs-item.active:hover,
        .color_alternate .w-tabs.layout_ver .w-tabs-item.active,
        .no-touch .color_alternate .w-tabs.layout_ver .w-tabs-item.active:hover,
        .color_alternate .w-tabs.layout_timeline .w-tabs-item,
        .color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h {
            background-color: #f2f2f2;
        }
        
        .color_alternate a.w-btn.color_contrast,
        .color_alternate .w-btn.color_contrast,
        .no-touch .color_alternate a.w-btn.color_contrast:hover,
        .no-touch .color_alternate .w-btn.color_contrast:hover,
        .no-touch .color_alternate a.w-btn.color_contrast.style_outlined:hover,
        .no-touch .color_alternate .w-btn.color_contrast.style_outlined:hover,
        .color_alternate .w-iconbox.style_circle.color_contrast .w-iconbox-icon {
            color: #f2f2f2;
        }
        
        .color_alternate .w-tabs.layout_modern .w-tabs-item:after {
            border-bottom-color: #f2f2f2;
        }
        
        .color_alternate input,
        .color_alternate textarea,
        .color_alternate select,
        .color_alternate .w-blog-post-preview-icon,
        .color_alternate .w-blog.layout_masonry .w-blog-post-h,
        .color_alternate .w-blog.layout_cards .w-blog-post-h,
        .color_alternate .g-filters.style_1,
        .color_alternate .g-filters.style_2 .g-filters-item.active,
        .color_alternate .w-iconbox.style_circle.color_light .w-iconbox-icon,
        .color_alternate .g-loadmore-btn,
        .color_alternate .w-pricing-item-header,
        .color_alternate .w-progbar-bar,
        .color_alternate .w-tabs.layout_default .w-tabs-list,
        .color_alternate .w-testimonial.style_4:before,
        .l-content .color_alternate .wp-caption-text {
            background-color: #ffffff;
        }
        
        .l-section.color_alternate,
        .l-section.color_alternate hr,
        .l-section.color_alternate th,
        .l-section.color_alternate td,
        .color_alternate .g-cols > div,
        .color_alternate .w-blog-post,
        .color_alternate .w-comments-list,
        .color_alternate .w-pricing-item-h,
        .color_alternate .w-profile,
        .color_alternate .w-separator,
        .color_alternate .w-tabs-list,
        .color_alternate .w-tabs-section,
        .color_alternate .w-tabs-section-header:before,
        .color_alternate .w-tabs.layout_timeline.accordion .w-tabs-section-content,
        .color_alternate .w-testimonial.style_1 {
            border-color: #dddddd;
        }
        
        .color_alternate .w-separator,
        .color_alternate .w-iconbox.color_light .w-iconbox-icon,
        .color_alternate .w-testimonial.style_3 .w-testimonial-text:after,
        .color_alternate .w-testimonial.style_3 .w-testimonial-text:before {
            color: #dddddd;
        }
        
        .color_alternate a.w-btn.color_light,
        .color_alternate .w-btn.color_light,
        .color_alternate .w-btn.color_light.style_outlined:before,
        .color_alternate .w-btn.w-blog-post-more:before,
        .color_alternate .w-iconbox.style_circle.color_light .w-iconbox-icon,
        .no-touch .color_alternate .g-loadmore-btn:hover {
            background-color: #dddddd;
        }
        
        .color_alternate a.w-btn.color_light.style_outlined,
        .color_alternate .w-btn.color_light.style_outlined,
        .color_alternate .w-btn.w-blog-post-more,
        .color_alternate .w-iconbox.style_outlined.color_light .w-iconbox-icon,
        .color_alternate .w-person-links-item,
        .color_alternate .w-socials-item-link,
        .color_alternate .pagination .page-numbers {
            box-shadow: 0 0 0 2px #dddddd inset;
        }
        
        .color_alternate .w-tabs.layout_trendy .w-tabs-list {
            box-shadow: 0 -1px 0 #dddddd inset;
        }
        
        .color_alternate h1,
        .color_alternate h2,
        .color_alternate h3,
        .color_alternate h4,
        .color_alternate h5,
        .color_alternate h6,
        .color_alternate .w-counter-number,
        .color_alternate .w-pricing-item-header {
            color: #444444;
        }
        
        .color_alternate .w-progbar.color_contrast .w-progbar-bar-h {
            background-color: #444444;
        }
        
        .l-titlebar.color_alternate,
        .l-section.color_alternate,
        .color_alternate input,
        .color_alternate textarea,
        .color_alternate select,
        .color_alternate a.w-btn.color_contrast.style_outlined,
        .color_alternate .w-btn.color_contrast.style_outlined,
        .color_alternate .w-form-row-field:before,
        .color_alternate .w-iconbox.color_contrast .w-iconbox-icon,
        .color_alternate .w-iconbox.color_light.style_circle .w-iconbox-icon,
        .color_alternate .w-tabs.layout_timeline .w-tabs-item,
        .color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h {
            color: #666666;
        }
        
        .color_alternate a.w-btn.color_light,
        .color_alternate .w-btn.color_light,
        .color_alternate .w-btn.w-blog-post-more {
            color: #666666 !important;
        }
        
        .color_alternate a.w-btn.color_contrast,
        .color_alternate .w-btn.color_contrast,
        .color_alternate .w-btn.color_contrast.style_outlined:before,
        .color_alternate .w-iconbox.style_circle.color_contrast .w-iconbox-icon {
            background-color: #666666;
        }
        
        .color_alternate a.w-btn.color_contrast.style_outlined,
        .color_alternate .w-btn.color_contrast.style_outlined,
        .color_alternate .w-iconbox.style_outlined.color_contrast .w-iconbox-icon {
            box-shadow: 0 0 0 2px #666666 inset;
        }
        
        .color_alternate a,
        .color_alternate .highlight_primary,
        .no-touch .l-titlebar.color_alternate .g-nav-item:hover,
        .color_alternate a.w-btn.color_primary.style_outlined,
        .color_alternate .w-btn.color_primary.style_outlined,
        .l-main .color_alternate .w-contacts-item:before,
        .color_alternate .w-counter.color_primary .w-counter-number,
        .color_alternate .g-filters-item.active,
        .no-touch .color_alternate .g-filters-item.active:hover,
        .color_alternate .w-form-row.focused .w-form-row-field:before,
        .color_alternate .w-iconbox.color_primary .w-iconbox-icon,
        .no-touch .color_alternate .w-iconbox-link:hover .w-iconbox-title,
        .no-touch .color_alternate .w-logos .owl-prev:hover,
        .no-touch .color_alternate .w-logos .owl-next:hover,
        .color_alternate .w-separator.color_primary,
        .color_alternate .w-tabs.layout_default .w-tabs-item.active,
        .color_alternate .w-tabs.layout_trendy .w-tabs-item.active,
        .color_alternate .w-tabs.layout_ver .w-tabs-item.active,
        .color_alternate .w-tabs-section.active .w-tabs-section-header,
        .color_alternate .w-testimonial.style_2:before {
            color: #1b98e0;
        }
        
        .color_alternate .highlight_primary_bg,
        .color_alternate .w-actionbox.color_primary,
        .color_alternate .w-blog-post-preview-icon,
        .color_alternate .w-blog.layout_cards .format-quote .w-blog-post-h,
        .color_alternate button,
        .color_alternate input[type="submit"],
        .color_alternate a.w-btn.color_primary,
        .color_alternate .w-btn.color_primary,
        .color_alternate .w-btn.color_primary.style_outlined:before,
        .no-touch .color_alternate .g-filters-item:hover,
        .color_alternate .w-iconbox.style_circle.color_primary .w-iconbox-icon,
        .no-touch .color_alternate .w-iconbox.style_circle .w-iconbox-icon:before,
        .no-touch .color_alternate .w-iconbox.style_outlined .w-iconbox-icon:before,
        .no-touch .color_alternate .w-person.layout_toplinks .w-person-links,
        .color_alternate .w-pricing-item.type_featured .w-pricing-item-header,
        .color_alternate .w-progbar.color_primary .w-progbar-bar-h,
        .color_alternate .w-tabs.layout_modern .w-tabs-list,
        .color_alternate .w-tabs.layout_trendy .w-tabs-item:after,
        .color_alternate .w-tabs.layout_timeline .w-tabs-item:before,
        .color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h:before,
        .no-touch .color_alternate .pagination .page-numbers:before,
        .color_alternate .pagination .page-numbers.current {
            background-color: #1b98e0;
        }
        
        .l-content .color_alternate blockquote,
        .no-touch .l-titlebar.color_alternate .g-nav-item:hover,
        .color_alternate .g-filters.style_3 .g-filters-item.active,
        .no-touch .color_alternate .w-logos .owl-prev:hover,
        .no-touch .color_alternate .w-logos .owl-next:hover,
        .no-touch .color_alternate .w-logos.style_1 .w-logos-item:hover,
        .color_alternate .w-separator.color_primary,
        .color_alternate .w-tabs.layout_default .w-tabs-item.active,
        .color_alternate .w-tabs.layout_ver .w-tabs-item.active,
        .no-touch .color_alternate .w-tabs.layout_default .w-tabs-item.active:hover,
        .no-touch .color_alternate .w-tabs.layout_ver .w-tabs-item.active:hover,
        .no-touch .color_alternate .g-tags > a:hover,
        .no-touch .color_alternate .w-testimonial.style_1:hover {
            border-color: #1b98e0;
        }
        
        .color_alternate a.w-btn.color_primary.style_outlined,
        .color_alternate .w-btn.color_primary.style_outlined,
        .l-main .color_alternate .w-contacts-item:before,
        .color_alternate .w-iconbox.color_primary.style_outlined .w-iconbox-icon,
        .color_alternate .w-tabs.layout_timeline .w-tabs-item,
        .color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h {
            box-shadow: 0 0 0 2px #1b98e0 inset;
        }
        
        .color_alternate input:focus,
        .color_alternate textarea:focus,
        .color_alternate select:focus {
            box-shadow: 0 0 0 2px #1b98e0;
        }
        
        .no-touch .color_alternate a:hover,
        .color_alternate .highlight_secondary,
        .color_alternate a.w-btn.color_secondary.style_outlined,
        .color_alternate .w-btn.color_secondary.style_outlined,
        .no-touch .color_alternate a:hover + .w-blog-post-body .w-blog-post-title a,
        .no-touch .color_alternate .w-blog-post-title a:hover,
        .color_alternate .w-counter.color_secondary .w-counter-number,
        .color_alternate .w-iconbox.color_secondary .w-iconbox-icon,
        .color_alternate .w-separator.color_secondary {
            color: #447490;
        }
        
        .color_alternate .highlight_secondary_bg,
        .no-touch .color_alternate input[type="submit"]:hover,
        .color_alternate a.w-btn.color_secondary,
        .color_alternate .w-btn.color_secondary,
        .color_alternate .w-btn.color_secondary.style_outlined:before,
        .color_alternate .w-actionbox.color_secondary,
        .color_alternate .w-iconbox.style_circle.color_secondary .w-iconbox-icon,
        .color_alternate .w-progbar.color_secondary .w-progbar-bar-h {
            background-color: #447490;
        }
        
        .color_alternate .w-separator.color_secondary {
            border-color: #447490;
        }
        
        .color_alternate a.w-btn.color_secondary.style_outlined,
        .color_alternate .w-btn.color_secondary.style_outlined,
        .color_alternate .w-iconbox.color_secondary.style_outlined .w-iconbox-icon {
            box-shadow: 0 0 0 2px #447490 inset;
        }
        
        .color_alternate .highlight_faded,
        .color_alternate .w-blog-post-meta > *,
        .color_alternate .w-profile-link.for_logout,
        .color_alternate .w-testimonial-person-meta,
        .color_alternate .w-testimonial.style_4:before {
            color: #999999;
        }
        
        .color_alternate .w-blog.layout_latest .w-blog-post-meta-date {
            border-color: #999999;
        }
        
        .l-subfooter.at_top,
        .no-touch .l-subfooter.at_top #lang_sel ul ul a:hover,
        .no-touch .l-subfooter.at_top #lang_sel_click ul ul a:hover {
            background-color: #f4f4f4;
        }
        
        .l-subfooter.at_top input,
        .l-subfooter.at_top textarea,
        .l-subfooter.at_top select,
        .no-touch .l-subfooter.at_top #lang_sel a,
        .no-touch .l-subfooter.at_top #lang_sel_click a {
            background-color: #ffffff;
        }
        
        .l-subfooter.at_top,
        .l-subfooter.at_top .w-profile,
        .l-subfooter.at_top .widget_calendar #calendar_wrap {
            border-color: #444444;
        }
        
        .l-subfooter.at_top .w-socials-item-link {
            box-shadow: 0 0 0 2px #444444 inset;
        }
        
        .l-subfooter.at_top h1,
        .l-subfooter.at_top h2,
        .l-subfooter.at_top h3,
        .l-subfooter.at_top h4,
        .l-subfooter.at_top h5,
        .l-subfooter.at_top h6,
        .l-subfooter.at_top input,
        .l-subfooter.at_top textarea,
        .l-subfooter.at_top select,
        .l-subfooter.at_top .w-form-row-field:before {
            color: #008000;
        }
        
        .l-subfooter.at_top {
            color: #008000;
        }
        
        .l-subfooter.at_top a,
        .l-subfooter.at_top .widget_tag_cloud .tagcloud a,
        .l-subfooter.at_top .widget_product_tag_cloud .tagcloud a {
            color: #008000;
        }
        
        .no-touch .l-subfooter.at_top a:hover,
        .no-touch .l-subfooter.at_top .w-form-row.focused .w-form-row-field:before,
        .no-touch .l-subfooter.at_top .widget_tag_cloud .tagcloud a:hover,
        .no-touch .l-subfooter.at_top .widget_product_tag_cloud .tagcloud a:hover {
            color: #008000;
        }
        
        .l-subfooter.at_top input:focus,
        .l-subfooter.at_top textarea:focus,
        .l-subfooter.at_top select:focus {
            box-shadow: 0 0 0 2px #008000;
        }
        
        .l-subfooter.at_bottom {
            background-color: #c4c924;
        }
        
        .l-subfooter.at_bottom {
            color: #ffffff;
        }
        
        .l-subfooter.at_bottom a {
            color: #ffffff;
        }
        
        .no-touch .l-subfooter.at_bottom a:hover {
            color: #ffffff;
        }
        
        #popup_hepler {
            padding: 5px 5px 0;
            z-index: 1005;
            position: fixed;
            bottom: 0;
            right: 3px;
            background: #49b8f2;
            color: #fff;
            border-top-left-radius: 10px;
            -moz-border-top-left-radius: 10px;
            -webkit-border-top-left-radius: 10px;
            -o-border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            -moz-border-top-right-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -o-border-border-top-right-radius: 10px;
            width: 165px;
        }
        
        #popup_hepler .hclose {
            width: 25px;
            height: 25px;
            border: 1px solid #fff;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            -o-border-radius: 100%;
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
            font-weight: 600;
            padding: 3px 6px;
            position: absolute;
            top: -25px;
            right: 0;
        }
        
        #popup_hepler .name {
            padding-top: 5px;
            display: inline-block;
            line-height: 25px;
            white-space: normal;
        }
        
        #popup_hepler .hotline {
            margin-top: 5px;
            text-align: center;
        }
        
        #popup_hepler .hotline a {
            font-size: 20px;
            font-weight: 600;
        }
        .wpb_animate_when_almost_visible {
                opacity: 1;
        }
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
